@page "/contacts"
@attribute [Authorize(Roles = "Admin")]
@using DonationBlazorServerSide.Data
@using DonationModel.Model
@inject ContactService contactService

@*  @inject HttpClient httpClient *@


<h1>Contacts</h1>

@* <AuthorizeView Policy="AdminOnly">
    <Authorized> *@
        @if (contacts == null) {
  <p><em>Loading...</em></p>
} else {
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Account Number</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Address</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in contacts)
      {
        <tr>
          <td>@item.AccountNo</td>
          <td>@item.FirstName @item.LastName</td>         
          <td>@item.Email</td>
          @* <td>@item.Street, @item.City, @item.PostalCode, @item.Country</td> *@
          <td>@($"{item.Street}{(!string.IsNullOrEmpty(item.Street) ? "," : "")} {item.City}{(!string.IsNullOrEmpty(item.City) ? "," : "")} {item.PostalCode}{(!string.IsNullOrEmpty(item.PostalCode) ? "," : "")} {item.Country}")</td>


          <td><a class="btn btn-success btn-sm" href="/updel/@item.AccountNo/edit">edit</a></td>
          <td><a class="btn btn-danger btn-sm" href="/updel/@item.AccountNo/del">del</a></td> 

        </tr>
        }
    </tbody>
  </table>
}


@code {
  List<Contact>? contacts;

  protected override async Task OnInitializedAsync() {
    contacts = await contactService.GetContactsAsync();
  }

}

    @* </Authorized>
    <NotAuthorized>
        <p>You do not have permission to view this content.</p>
    </NotAuthorized>
</AuthorizeView> *@

